@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

.menu {
	
background-color: rgba(6, 7, 14, 0.712);


border-radius: 20px 20px 20px 20px;
padding-bottom: 15px;
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
font-weight: bold;
	font-family: bankgothic;
	min-width: 350px;
	color:#fff;
	
	position: absolute;
-webkit-box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.75);

}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);

}

.menu.align-top-left {
	left: 1450;
	top: 40;

}

.menu.align-top {
	
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
			margin-bottom:1px;
	background-color: rgba(0, 60, 150, 0.74); 
	text-align: center;
	height: 47px;
	line-height: 47px;
border-radius: 10px 10px 10px 10px;
color: rgb(255, 255, 255);
border: 1px solid #000000; 

}

.menu .menu-items {

	max-height: 400px;
	overflow-y: auto;
/* border: 1px solid #000000; */

}

.menu .menu-items .menu-item {
height: 40px;
	margin-bottom:1px;
	border-radius: 6px 6px 6px 6px;

	display: block;
	background-color: #000000a1; #000000a1

	height: 35px;
	line-height: 35px;
	color: #fff;

   padding-left:15px;
	text-align: left;


}

.menu .menu-items .menu-item.selected {
border-radius::5px solid #ffffff8a;
border-left:5px solid #ffffff8a;
border-top: 5px solid #ffffff8a;
border-right:5px solid #ffffff8a;
border-bottom: 5px solid #ffffff8a;

	/* background-color: #d0d0d0; */
}




/* width */
::-webkit-scrollbar {
  width: 8px;
left:5%;
}

/* Track */
::-webkit-scrollbar-track {
	
  background: #000000; 

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111e8e; #111e8e

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}







